.banner-container {
  display: flex;
  background: white;
}
.banner-container-1 {
  display: flex;
  background: white;
}
.banner-top-left {
  border: none;
  background-size: cover;
  width: 50%;
  height: 50%;
  padding: 0;
}
.banner-top-left img {
  padding: 0;
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
.banner-top-right {
  width: 50%;
  background: white;
  padding: 80px !important;
}
.banner-top-left-2 {
  border: none;
  background-size: cover;
  width: 50%;
  background: white;
  padding: 80px !important;
}
.bottom-container {
  background-color: #f8f8f8;
  width: 100%;
  height: 30vh;
  padding-left: -200 !important;
  padding-right: none !important;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
}
.button-container button {
  font-size: 20px;
  background: linear-gradient(
    90deg,
    #d58f5c 0%,
    #ffc195 31.25%,
    #dd9c6d 62.5%,
    #edb48b 100%
  );
  border: none;
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  color: white;
}

@media screen and (max-width: 600px) {
  .button-container button {
    width: 160px;
  }
}

.side-button {
  display: inline;
  padding-left: 20px;
}

.content-right button {
  display: block;
  width: 100%;
  background: linear-gradient(
    90deg,
    #d58f5c 0%,
    #ffc195 31.25%,
    #dd9c6d 62.5%,
    #edb48b 100%
  );
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 22px;
  height: 74px;
}
.content-right input {
  width: 100%;
  height: 74px;
  background-color: transparent;
  border: 2px solid #d58f5c;
  border-radius: 12px;
  padding-left: 20px;
}

.banner-top-left-2 p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner-top-left-2 h2 {
  color: #b77b50;
  font-size: 35px;
  font-family: "Josefin Slab", serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner-top-right p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner-top-right h2 {
  color: #b77b50;
  font-size: 35px;
  font-family: "Josefin Slab", serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner-left {
  border: none;
  background-size: cover;
  width: 50%;
  padding: 80px !important;
}
.banner-right {
  display: flex;
  border: none;
  padding: 0 0 80px 0 !important;
}

.banner-left h2 {
  color: #b77b50;
  font-size: 35px;
  font-weight: 600;
  /* font-family: "Josefin Slab", serif; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner-left p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content-right {
  padding-top: 80px;
  width: 100%;
}
@media (max-width: 800px) {
  .banner-top-left {
    display: none;
  }
}
@media (max-width: 800px) {
  .banner-left {
    padding: 0 80px !important;
    width: 100%;
  }
  .banner-container-1 {
    display: grid;
  }
}
@media (max-width: 600px) {
  .banner-top-right {
    padding: 0 !important;
  }
  .banner-top-left-2 {
    padding: 0 !important;
  }
  .banner-left {
    padding: 0 !important;
  }
  .banner-right {
    padding: 20px 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-right {
    width: 100%;
    margin-top: 0;
  }
}
