/* Dashboard Header*/

h2,
h3 {
  color: black;
}

.row {
  margin: 0;
  padding: 0;
}

.modal-header .btn-close {
  margin: 0;
  padding: 0.5rem 1rem;
}

.modal-title {
  margin: 0;
  line-height: 0;
  font-size: 2.5rem;
}

.container2 {
  /* margin-top: 30px; */
  margin: 30px 0 !important;
}

.container h2 {
  font-size: 40px;
  font-weight: bold;
}

.search {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  /* margin-right: 60px; */
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  padding-right: 15px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #d1dcee;
  border-radius: 0;
  /* display: flex;
  flex-direction: column; */
}

.searchBar input {
  width: 100%;
  height: 100%;
  /* border-radius: 40px; */
  border: none;
  padding-left: 20px;
  background-color: transparent;
  /* margin-right: 8px; */
}

.searchBar input:focus {
  outline: none;
}

.search Button {
  width: 50px;
  height: 50px;
  border-radius: 0;
  background-color: #ffffff !important;
  border: 1px solid #d1dcee;
  margin: 0 5px;
}

/* Dashboard Body */

.DashContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* justify-content: right; */
  /* padding: 20px 0; */
}

.DashBody {
  width: 100vw;
  height: 100vh;
}

.liveAuc {
  display: flex;
  width: 350px;
  height: 150px;
  border-radius: 0;
  border: 1px solid #d1dcee;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Interstate";
  text-decoration: none;
}

.names {
  display: inline-block;
  margin: auto;
}

.names span {
  font-weight: bold;
  font-size: 16px;
  color: #737b8b;
}

.names h3 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.progress {
  width: 80px;
  height: 80px;
  background-color: transparent;
  margin: auto;
}
.progress-1 {
  width: 80px;
  height: 80px;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #b77b50 !important;
  stroke-linecap: initial !important;
  transition: stroke-dashoffset 0.5s ease 0s;
}

/* Dashboard middle section */

.tab {
  display: flex;
  margin-top: 3em;
  width: 450px;
  height: 50px;
  border-radius: 0;
  border: 1px solid #d1dcee;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
}

#active {
  color: #b77b50;
  border-radius: 0;
  border-bottom: 2px solid #b77b50;
  line-height: normal;
}

.tab .tabs {
  margin: auto;
  background-color: transparent;
  border: none;
  height: 100%;
  color: #737b8b;
  font-weight: 700;
}

.tab .tabs:hover {
  color: #b77b50;
  border-bottom: 2px solid #b77b50;
  line-height: normal;
  border-radius: 0;
}

.tab .tabs:focus {
  outline: none;
  box-shadow: none;
  color: #b77b50;
  border-radius: 0;
  border-bottom: 2px solid #b77b50;
  line-height: normal;
}

.filter {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin: 3em 0;
}

.filter div {
  margin: 0 10px;
  cursor: pointer;
}

.filterIcon,
.refresh {
  background-color: #b77b50;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.filterIcon Button,
.refresh Button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (max-width: 1550px) {
  .liveAuc {
    width: 280px;
    height: 130px;
  }
}

/* Dashboard Profile */

.profileContainer {
  width: 100vw;
  background-color: #ffffff;
  border-radius: 0;
  padding: 20px 20px 50px 50px;
  box-shadow: 0px 4px 20px rgba(94, 132, 194, 0.06);
}

.profilePicCol {
  display: flex;
  justify-content: center;
}

.profileOutline {
  height: 320px;
  width: 280px;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0px 0px 40px 0px rgba(87, 115, 240, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileInline {
  height: 94%;
  width: 92%;
  background-color: transparent;
  border-radius: 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.listItem {
  width: 250px;
  height: 150px;
  border-radius: 15px;
  background-color: none;
}
.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.edit-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.edit-btn Button {
  color: #216fed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3e2fb;
  border: none;
  border-radius: 0;
  height: 50px;
  width: 50px;
}
.edit-modal .modal-body {
  padding: 0;
}

.fund-modal .modal-body {
  padding: 0;
}
/* Chat Messaging */
.chatContainer {
  background-color: #ffffff;
  border-radius: 0;
  padding: 20px;
  box-shadow: #d1dcee 0px 0px 20px 2px;
}

.top-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid black;
}
.chat-message {
  background-color: #fafafb;
  padding: 10px;
}

.user-message {
  background-color: #fafafb;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: right;
  margin-left: 50%;
  color: black;
}

.client-message {
  background-color: #fafafb;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  display: flex;
  justify-content: left;
  margin-right: 50%;
  color: black;
}

.text-box {
  display: flex;
  justify-content: center;
  border: #d5d5dc;
  width: 100%;
  margin: 5px;
  font-size: 15px;
  padding: 10px;
}

.descript {
  padding-left: 60px;
  width: 100%;
  height: 100%;
}

.descript h3 {
  margin-top: 15px;
  color: black;
  font-weight: bold;
}

.descript p {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  color: #808080;
  font-weight: 500;
  overflow-y: auto;
}

.name h3 {
  font-family: "Tzimmes";
  font-style: normal;
  color: #08080a;
  font-size: 24px;
  font-weight: 700;
}

.name p {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  color: #b77b50;
  font-size: 16px;
  font-weight: 400;
}

.address {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  color: #737b8b;
  font-size: 16px;
  font-weight: 400;
}

.address Button {
  border-radius: 0;
  margin-right: 10px;
  height: 50px;
  background-color: #f8f2ee;
  border: none;
}

.address Button:hover {
  background-color: transparent;
}

.address Button:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
}

.address Button:active {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Incomplete*/
.img-placeholder {
  width: 275px;
  height: 275px;
  background-color: #d3e2fb;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.incompleteCard {
  width: 300px;
  background-color: #fafafb;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px rgba(87, 115, 240, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.incompleteCard:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.resume-btn {
  background: #fcba7d;
  padding: 20px;
  border-radius: 20px;
  border: none;
}
.resume-btn:hover {
  background: #f9a867;
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.del-btn {
  background: #737b8b;
  padding: 20px;
  border-radius: 20px;
  border: none;
}
.del-btn:hover {
  background: #6d6f7b;
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.table td {
  padding: 15px 10px;
  text-align: left;
  vertical-align: top;
}

.headerModal {
  overflow: hidden;
}

.dashAccor .accordion-item {
  border: 0;
  padding-top: 10px;
  background: transparent;
}

.dashAccor .accordion-body {
  font-size: 1.5rem;
  background: transparent;
}

.dashAccor .accordion-button {
  padding: 0;
  align-items: none;
  font-size: 2rem;
  background: transparent;
  color: #ffffff;
  box-shadow: none;
}

.dashAccor .accordion-button:focus {
  outline: none;
  border: none;
  color: #ffffff;
  text-decoration: none;
  background: none;
  box-shadow: none;
}

.dashAccor .accordion-button::after {
  margin-left: 50px;
  margin-top: 10px;
  color: #ffffff;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 23px;
  height: 23px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0;
  background-color: #b77b50;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 59px;
  margin-bottom: 40px;
  padding: 0 0.9rem;
}

.notifi-drop-down {
  display: block;
  position: absolute;
  border-radius: 5px;
  width: 18rem;
  height: 355px;
  margin-top: 310px;
  /* margin-right: -40px; */
  padding-top: 55px;
  z-index: 2;
}

.notifi-drop-down-content {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 20px #888888;
}

.notifi-dropdown-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #e6e6e6;
  border-top: 2px solid #e6e6e6;
}

.suggest:hover {
  background-color: #b9b9b9;
}


/* .carousel-cards {
  padding: 0 4rem;
} */

/* @media screen and (max-width: 1250px) {
  .carousel-cards {
    padding: 0 10rem;
  }
} */

/* @media screen and (max-width: 800px) {
  .carousel-cards {
    padding: 2rem 0.4rem;
  }
} */
