.view-btn {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #4f4f59;
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  font-size: 1.47vmax;
}

.view-btn:hover {
  background-color: transparent;
  color: #4f4f59;
  text-decoration: underline;
}

.view-btn:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: #4f4f59;
}

.view-btn:active {
  background-color: transparent;
  color: #4f4f59;
}

.no-feature-container {
  background: #d1dcee;
  border-radius: 0;
  padding: 40px;
}

.no-feature-text {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.65vmax;
  color: #08080a;
}

@media screen and (max-width: 800px) {
  .view-btn {
    font-size: 1rem;
    padding: 6px;
  }
  .no-feature-text {
    font-size: 1.3rem;
  }
}
