.card-footer {
  background-color: #282828 !important;
  border-radius: 0 !important;
  padding-top: 5rem;
  /* margin-top: 10rem; */
}

.row-1 {
  /* margin-left: 10rem !important;
  margin-right: 10rem !important; */
  padding: 4rem 3rem;
}

.img-flex {
  display: inline-flex;
}

.auction-img {
  height: 6rem;
  /* padding: 2rem; */
}

.auction-content {
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
}

.footer-title {
  font-family: "Josefin Slab";
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: left;
  padding-left: 6rem;
  margin-bottom: 20px;
  color: #d58f5c;
}

li {
  /* padding: 0.1rem; */
  font-size: 1.8rem;
  font-weight: 350;
  text-align: left;
  font-family: inter, Arial, sans-serif;
}

ul {
  padding-left: 6.5rem;
}

a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  font-family: Montserrat;
}

a:hover {
  color: #fff;
  text-decoration: none !important;
}

.auction-reserved {
  border-top: 2px solid #b77b50;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin-top: 5rem;
}

@media screen and (max-width: 800px) {
  li {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}
