.row {
  margin: 0;
  padding: 0;
}

.realHeader {
  /* margin-top: 60px; */
  display: grid;
  justify-items: center;
  background-color: #08080a;
  align-items: flex-end;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 185px;
  width: 100%;
  justify-content: center;
  /* font-size: 20px; */
  /* padding: 50px; */
  margin-bottom: 0;
}

.realHeader title {
  font-family: "Tzimmes";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 77px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.realHeader p {
  font-family: "Interstate";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
}

/* company css */
.companyHeader {
  font-family: "Tzimmes";
  display: grid;
  background-color: black;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: 360px;
  justify-content: center;
  font-size: 50px;
  padding: 50px;
  margin-bottom: 0;
}

.companyHeader span {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  display: grid;
  align-content: center;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  /* background: linear-gradient(
    90deg,
    #d58f5c 0%,
    #ffc195 31.25%,
    #dd9c6d 62.5%,
    #edb48b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
}

.companyHeader p span {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #e2e2e2;
  background: #ffffff;
  text-transform: none;
  background-clip: text;
}

.companyHeader .descript {
  font-size: 35px;
  width: 50%;
  color: white;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .companyHeader {
    padding: 80px 10px;
  }

  .companyHeader p {
    font-size: 40px;
  }

  .companyHeader p span {
    font-size: 16px;
  }

  .companyHeader .descript {
    font-size: 25px;
    width: 100%;
    padding: 10px;
  }
  .registBtn {
    justify-content: center !important;
  }
}

.faqSearch {
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #d1dcee;
  border-radius: 0;
}

.faqSearch input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.faqSearch Button {
  background: #b77b50;
  color: black;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.faqSearch Button:hover {
  background: #d58f5c;
}

.faqSearch Button:focus {
  outline: none;
  text-decoration: none;
  background: #b77b50;
  border: none;
  box-shadow: none;
}

.faqSearch input:focus {
  outline: none;
}

.formTitle {
  font-size: 50px;
  height: fit-content;
  border-bottom: 2px solid #edb48b;
}

.modal-head-map {
  width: 100% !important;
}
.RealButton {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 0;
  height: 50px;
  margin: 10px 0;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .RealButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
  }
}
.realEstateFilter {
  display: flex;
  background-color: #b77b50;
  width: 100% !important;
  justify-content: space-between;
  align-items: center;
  /* space around */
  margin: 0;
}
.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-right: 1rem;
  border: none;
  margin: 10px;
}
.searchBar:focus {
  outline: none;
}
.filterResult {
  background-color: #b77b50;
  color: #ffffff;
}

.resultText {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.mapButton {
  background-color: white;
  border-radius: 0;
  border: white solid 1px;
  padding: 0 20px;
  margin: 10px 0;
  width: 100%;
  height: 50px;
}

.galleryButton {
  background-color: black;
  border-radius: 0;
  border: black solid 1px;
  padding: 0 20px;
  margin: 10px 0;
  color: white;
  width: 100%;
  height: 50px;
}

.slick-slider {
  height: 100%;
}

.tabDocs tr:nth-child(n + 1) td:nth-child(n + 1) {
  color: white;
  padding: 30px 60px;
  font-size: 20px;
}

.badge {
  position: absolute;
  top: 15%;
  right: 35px;
  z-index: 2;
  background-color: #28a745;
  width: 200px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px 0px 0px 5px;
}

.registBtn {
  display: grid;
  justify-content: right;
  width: 100%;
}

.registsBtn {
  background-color: #b77b50;
  color: #ffffff;
  border-radius: 0;
  border: 0;
  width: 230px;
  height: 50px;
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-docs-btn {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid #919191;
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
  padding: 0;
  color: #6d6d6d;
}

.autocomplete-dropdown-container {
  position: absolute;
  border-radius: 0;
}
