.custom-modal-style {
  display: list-item;
  width: 100%;
  height: 570px;
}

.custom-modal-style .modal-content {
  border-radius: 30px !important;
}

.custom-modal-title {
  position: absolute;
  top: 0;
  padding-top: 10px !important;
}

.modal-title {
  padding-top: 20px;
}

.input,
.input-group {
  color: black !important;
}

.modal-header-login {
  align-items: normal;
  position: relative;
  margin-bottom: 20px;
}

.modal-head-signup {
  align-items: normal;
  position: relative;
  padding-top: 10px;
}

.confirm {
  display: list-item;
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.login {
  display: list-item;
  width: 100%;
  height: 450px;
  border-radius: 20px;
}

.modal-header {
  height: 90px;
  display: flex;
  padding-bottom: 40px;
  border-radius: 0;
}

.nav-link-signup {
  color: #d58f5c !important;
  font-size: 15px;
  cursor: pointer !important;
  border: none !important;
  background-color: transparent !important;
}

.nav-link-login {
  color: #d58f5c !important;
  font-size: 12px !important;
  position: absolute !important;
  display: flex !important;
  justify-content: center !important;
  top: 2px !important;
  cursor: pointer !important;
}

.signup-link {
  color: #d58f5c !important;
  font-size: 15px !important;
  border: none;
  background-color: transparent !important;
  border: none !important;
}

.signup-div {
  padding-bottom: 10px;
  cursor: pointer !important;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.signIn-btn {
  background-color: transparent;
  border-radius: 0 !important;
  border: 0;
  cursor: pointer;
}

.signUp-btn {
  background-color: transparent;
  border-radius: 0 !important;
  border: 0;
  cursor: pointer;
}

.signIn-btn::after {
  color: #d58f5c;
  border-color: transparent;
}

.signUp-btn::after {
  color: #d58f5c;
  border-color: #d58f5c !important;
}

/* Dropdown menu */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: start;
  background-color: transparent;
  z-index: 1;
  /* width: 100%; */
}

.dropdown-content-items {
  background-color: white;
  /* border-radius: 0 0 5px 5px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0 5px;
}

.dropdown-content-items .user-names {
  font-family: "Tzimmes";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  height: fit-content;
}

/* .dropdown-content::after {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -14px;
  width: 0;
  height: 0;
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
} */

.dropdown-content button {
  background-color: transparent;
  /* border-radius: 0 0 5px 5px; */
  width: 100%;
  border: none;
  border-top: 1px solid #e3eaf6;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bold;
}
.dropdown-content span {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bold;
}

/* .dropdown-content button:hover {
  background-color: #d58f5c;
  width: 100%;
  color: white;
} */

.dropdown-content a:hover {
  background-color: #d58f5c;
  border-radius: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.forgotPass {
  width: 500px;
  height: 300px;
  margin-top: 20px;
}

.sign-In {
  height: 400px;
  width: 935px;
  background-image: linear-gradient(to right, #d58f5c, #f9d8c8, #dda074);
  /* position: fixed; */
  display: flex;
  margin-left: -220px !important;
  /*margin-top: -210px !important; */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.sign-Up {
  height: 600px;
  width: 800px;
  background-image: linear-gradient(to right, #d58f5c, #f9d8c8, #dda074);
  position: absolute;
  display: flex;
  margin-left: -80px !important;
  margin-top: -305px !important;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.forgot-modal {
  height: 300px;
  width: 900px;
  background-image: linear-gradient(to right, #d58f5c, #f9d8c8, #dda074);
  position: fixed;
  display: flex;
  margin-left: -205px !important;
  margin-top: -150px !important;
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
}

/* .form-control::placeholder {
  color: red !important;
  opacity: 1 !important;
} */

.signUpBtn {
  background: linear-gradient(
    90deg,
    #d58f5c 0%,
    #ffc195 31.25%,
    #dd9c6d 62.5%,
    #edb48b 100%
  );
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 35px;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
}

.loginBtn {
  background-image: linear-gradient(60deg, #f38f43, #c7723a, #a23830);
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 8px;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-input {
  border: none;
  border-bottom: 1px solid #ececec;
  transition: all 0.2s ease-in-out;
}

.login-input::before {
  content: "Username";
  color: #d58f5c;
  position: relative;
}

.login-input:focus {
  border: none;
  border-bottom: 2px solid #d58f5c;
  box-shadow: none;
}

.eyes_container {
  position: absolute;
  right: 10%;
  cursor: pointer;
}
