@import url("https://use.typekit.net/ajt6eeb.css");

.logo {
  cursor: pointer;
}

.nav-container {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  list-style: none;
}

.nav-items {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: #fff;
  margin: 0 50px;
  cursor: pointer;
  height: 90px;
}

.nav-items:hover {
  border-bottom: 1px solid #fff;
  line-height: normal;
}

.nav-button {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #fff;
  height: 90px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.nav-button:hover {
  border-bottom: 1px solid #fff;
  line-height: normal;
  background-color: transparent;
}

.nav-button:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.nav-button:active {
  outline: none;
  box-shadow: none !important;
  background-color: transparent;
}

.menu-icon {
  cursor: pointer;
  height: 90px;
}

.menu-icon:hover {
  border-bottom: 1px solid #fff;
  line-height: normal;
}

/* .menu-icon {
  background: linear-gradient(90deg, #e0bc8f 100%, #bf9767 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
} */

.user-name {
  background: transparent;
  border: none;
  color: #fff;
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  /* line-height: 22px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../images/downArrow.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 1.5rem; */
  border-radius: 0;
  height: 90px;
}

.user-name:hover {
  border-bottom: 1px solid #fff;
  line-height: normal;
  background: transparent;
}

.user-name:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
}

.user-name:active {
  outline: none;
  box-shadow: none !important;
  background: transparent;
}

.drop-item {
  width: 130px;
  margin-top: 230px;
  margin-right: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.drop-item-lists {
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drop-item-lists:hover {
  background-color: rgb(109, 106, 106);
  color: #000;
}

.wallet-icon {
  border-radius: 50%;
  background-color: #b77b50;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
