.coll {
  --bs-gutter-x: 0;
}

.top-row {
  --bs-gutter-x: 0;
  background: linear-gradient(180deg, #f5f9ff 50%, #08080a 50%);
  /* padding: 0 2vw; */
  height: 60%;
}

.subscript-container {
  --bs-gutter-x: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #d1dcee;
  /* height: auto; */
  width: 100%;
  /* padding: 80px 40px; */
  box-shadow: -15px -15px 60px rgba(25, 90, 255, 0.08);
}

.subscript-box {
  display: grid;
  align-items: center;
  padding-left: 5rem;
}

.subscript-title {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #b77b50;
}

.subscript-descript {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: #6d6d6d;
  padding: 1rem 0;
}

.small-box {
  width: 95px;
  height: 100%;
  border-top: 2px solid #b77b50;
}

/* .subscript-descript::before {
  content: "";
  position: absolute;
  margin-top: 7%;
  width: 95px;
  height: 0;
  background-color: #b77b50;
  border: 2px solid #b77b50;
} */

.subscript-input {
  background: #f9f9f9;
  border-radius: 0;
  border: 1px solid #a5a5a5;
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #878792;
  padding: 20px 40px;
  width: 100%;
}

.subscript-btn {
  background: #b77b50;
  border-radius: 0;
  border: none;
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 40px;
}

.subscript-text {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9vw;
  display: flex;
  align-items: center;
  color: #08080a;
  opacity: 0.5;
}

.bottom-row {
  --bs-gutter-x: 0;
  background: #08080a;
  padding: 0 2vw;
  height: 50%;
}

.footer-icon-box {
  display: grid;
  justify-content: start;
  align-items: center;
}

.footer-copyRight-container {
  --bs-gutter-x: 0;
  background: #08080a;
  padding: 0 2vw;
  border-top: 2px solid #b77b50;
  height: 10%;
}

.footer-copyRight {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-texts {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #ffffff;
  opacity: 0.5;
}

.footer-list {
  list-style: none;
}

.footer-list-item-title {
  font-family: "Tzimmes";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #e0bc8f 0%, #bf9767 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer-list-item {
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.footer-list-item:hover {
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  /* .top-row {
    height: 40%;
  } */

  .bottom-row {
    height: 60%;
  }

  .footer-icon-box {
    display: grid;
    justify-content: center;
  }

  .footer-texts {
    font-size: 1.2rem;
    line-height: 25px;
  }

  .subscript-box {
    /* justify-content: center; */
    padding: 0;
  }

  .subscript-title {
    font-size: 2rem;
    line-height: 35px;
  }

  .subscript-descript {
    font-size: 1rem;
    line-height: 35px;
  }

  .subscript-input {
    font-size: 1rem;
    line-height: 29px;
    padding: 20px 20px;
  }

  .subscript-btn {
    font-size: 1rem;
    line-height: 29px;
  }

  .subscript-text {
    font-size: 0.5rem;
    line-height: 10px;
  }

  .footer-list-item-title {
    font-size: 1.8rem;
    line-height: 24px;
  }

  .footer-list-item {
    font-size: 1rem;
    line-height: 20px;
  }

  .footer-copyRight {
    font-size: 1.1rem;
    line-height: 20px;
  }

  /* .subscript-descript::before {
    margin-top: 34%;
  } */
}
