.real-estate {
  height: 100%;
  /* margin: 0 auto; */
  /* width: 85%; */
  background-image: url("/src/realstate.png");
  background-color: #646363;
  background-blend-mode: multiply;
  /* background-size: contain; */
  /* margin-left: rem; */
  border-radius: 25px;
  /* margin-right: 10rem; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-blend-mode: darken; */
  padding-bottom: 15rem;
  margin: auto;
}
.img-float {
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.btn-group {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 6rem 3rem;
  padding: 10px 250px;
  position: relative;
  top: 7em;
}

.content h1 {
  font-weight: 500;
  background: -webkit-linear-gradient(#d58f5c, #ffc195, #dd9c6d, #edb48b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.real-estate-wrap {
  padding: 100px 50px;
  height: 100vh;
}
.about-wrap {
  padding: 100px 50px;
  height: 150vh;
}

.btn-custom {
  /* font family: Josefin Slab semi bold*/
  /* font-family: "Josefin Slab", serif; */
  /* height: 3rem; */
  width: 10rem;
  margin-right: 3rem;
  border-radius: 0.7rem !important;
  border: 3px solid #ffffff !important;
  background-color: transparent !important;
  font-size: 25px !important;
  /* display: flex !important;
  justify-content: center !important;
  text-align: center !important; */
}

.btn-custom:hover {
  background: -webkit-linear-gradient(#d58f5c, #ffc195, #dd9c6d, #edb48b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #d58f5c !important;
}

.btn-custom:focus {
  border: 3px solid #edb48b !important;
  /* text color: #edb48b */
  color: #edb48b !important;
  border-color: linear-gradient(
    90deg,
    #d58f5c 0%,
    #ffc195 31.25%,
    #dd9c6d 62.5%,
    #edb48b 100%
  ) !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.sell-real-estate {
  position: relative;
  top: 10em;
}

h1 {
  font-family: Josefin Slab;
  width: fit-content;
  margin-left: 5rem;
  font-size: 4rem;
  color: #d58f5c;
  font-weight: 700;
  color: linear-gradient(
    90deg,
    #d58f5c 0%,
    #ffc195 31.25%,
    #dd9c6d 62.5%,
    #edb48b 100%
  );
}

.paragraph {
  margin-left: 4rem;
  width: 28%;
  font-weight: 400;
  /* font family : Montserrat */
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}
