/*Steps bar*/
.circle {
  display: flex;
  width: 85px;
  height: 85px;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
}

.text {
  margin: auto;
}
/*Sell Welcome*/
.box-content {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 600px;
  width: 1000px;
  top: 50px;
}
.pre-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 150px;
  background-color: #e5e5e5;
  color: #707070;
  border-radius: 2px;
  border: 0;
  font-weight: bold;
  height: 40px;
}

.nxt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 19px;
  width: 150px;
  background-color: #ac744b;
  color: #ffffff;
  border-radius: 2px;
  border: 0;
  font-weight: bold;
  height: 40px;
}

.bottom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
}

.sell-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 150px;
}

/*Upload Form*/
.upload-box {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 600px;
  width: 1000px;
  top: 50px;
}

.upload-box-docu {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 1800px;
  width: 1000px;
  top: 50px;
}

/*Agreement Form*/
.agree-content {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 580px;
  width: 1000px;
  top: 50px;
}
/*Fee Form*/
.listingfee-content {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 700px;
  width: 850px;
  top: 50px;
}
/*Listing Detail Form*/
.listDetail-content {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 1000px;
  width: 850px;
  top: 50px;
}

body {
  background-color: #ffefe3;
}

.sell-top {
  width: 100%;
  height: 100px;
  border: 0;
  border-bottom: 1px solid #efd3bf;
  position: absolute;
  display: flex;
  justify-content: center;
}

.sell-bottom {
  display: flex;
  justify-content: center;
  border: 0;
  position: absolute;
  height: 75%;
  width: 100%;
  bottom: 0;
}

.sell-bottom-docu {
  display: flex;
  justify-content: center;
  border: 0;
  position: absolute;
  flex-wrap: wrap;
  height: 85%;
  width: 100%;
  bottom: 0;
}

.fee-sell-bottom {
  display: flex;
  justify-content: center;
  border: 0;
  position: absolute;
  height: 580px;
  width: 100%;
  bottom: 0;
}

.list-sell-bottom {
  display: flex;
  justify-content: center;
  border: 0;
  position: absolute;
  height: 880px;
  width: 100%;
  bottom: 0;
}

.agree-sell-bottom {
  display: flex;
  justify-content: center;
  border: 0;
  position: absolute;
  height: 85%;
  width: 100%;
  bottom: 0;
}

.pre-btn-listfee {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nxt-btn-listfee {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 19px;
}

.bottom-btn-listfee {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
}
.pay-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  width: 400px;
  border-radius: 5px;
  background-color: #ac744b;
  border: 0;
  color: #ffffff;
  font-weight: bold;
}
.fee-title {
  display: inline;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
}
.fee-table {
  height: auto;
  position: absolute;
  top: 120px;
}

.listDetails-title {
  display: inline;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
}

.list-form {
  width: 700px;
  height: 730px;
  box-shadow: 0 0 10px rgba(192, 190, 190, 0.2);
  border-radius: 3px;
  position: relative;
  top: 80px;
}

.list-form1 {
  width: 700px;
  height: 830px;
  box-shadow: 0 0 10px rgba(192, 190, 190, 0.2);
  border-radius: 3px;
  position: relative;
  top: 30px;
}

h6 {
  position: absolute;
  top: 30px;
  left: 30px;
}

.list-input {
  position: absolute;
  right: 50px;
  width: 370px;
  height: 40px;
  border-radius: 1px;
  border: 1px solid #cecaca;
  padding-left: 10px;
}

label {
  display: inline-block;
  text-align: left;
}

.header {
  display: inline;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 40px;
  font-size: 20px;
}

/* top {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: #6d6d6d;
} */

p {
  display: flex;
  justify-content: center;
}

ul.dashed {
  list-style-type: none;
  padding-left: 0 !important;
}
ul.dashed > li {
  /* text-indent: -5px; */
  font-size: 20px;
  padding: 0 !important;
}
ul.dashed > li:before {
  content: "-";
  /* text-indent: -5px; */
  color: #fcba7d;
  padding-right: 20px;
  font-size: 30px;
}

.bodi {
  /* margin-top: 50px; */
}

.agree-bottom-btn {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
}

/* sell top */

.circle {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  margin: auto;
}
.circle-1 {
  background-color: #b77b50;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}
.circle-2 {
  background-color: #b77b50;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}
.circle-3 {
  background-color: #b77b50;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}
.circle-4 {
  background-color: #b77b50;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}
.circle-5 {
  background-color: #b77b50;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}

.line {
  width: 8%;
  height: 2px;
  background-color: #f1f1f1;
  margin: center;
  margin-top: 48px;
  display: flex;
  align-items: center;
}
.line-1 {
  width: 8%;
  height: 2px;
  background-color: #b77b50;
  margin: center;
  margin-top: 48px;
  display: flex;
  align-items: center;
}
.line-2 {
  width: 8%;
  height: 2px;
  background-color: #b77b50;
  margin: center;
  margin-top: 48px;
  display: flex;
  align-items: center;
}
.line-3 {
  width: 8%;
  height: 2px;
  background-color: #b77b50;
  margin: center;
  margin-top: 48px;
  display: flex;
  align-items: center;
}
.line-4 {
  width: 8%;
  height: 2px;
  background-color: #b77b50;
  margin: center;
  margin-top: 48px;
  display: flex;
  align-items: center;
}

.spnn {
  margin-left: 2px;
  font-size: 10px;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  align-content: center;
}
#status p {
  font-size: 10px;
}

/* upload and sell welcome */

input[type="radio"]:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 20px;
  top: auto;
  left: auto;
  position: absolute;
  background-color: #ac744b;
  content: "";
  display: inline-block;
  margin-right: 20px;
}

/*sell-welcome*/
.sell-1 {
  font-size: 25px;
}
.sell-2 {
  font-size: 25px;
}
.sell-3 {
  font-size: 25px;
}
.choice {
  margin-left: 20px;
}
/*title*/
h1 {
  font-size: 1.5em;
  color: #333;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
}

.input-form-1 {
  padding: 75px;
}

.input-form-2 {
  padding: 75px;
  margin-right: -86px;
}

.amount-input {
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 2px solid #d58f5c;
  border-radius: 4px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
}
.amount-input-2 {
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 2px solid #d58f5c;
  border-radius: 4px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
  margin-left: 140px;
}
.amount-input-2 input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-family: sans-serif;
  color: #333;
  padding: 0.5rem;
}

.amount-input-3 input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-family: sans-serif;
  color: #333;
  padding: 0.5rem;
}
.amount-input-3 {
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 2px solid #d58f5c;
  border-radius: 4px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
  margin-left: 20px;
}

.amount-input .prefix {
  font-weight: 300;
  font-size: 14px;
  color: #999;
}

.amount-input input {
  flex-grow: 1;
  font-size: 14px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.sell-amount {
  outline: none !important;
  background-color: transparent !important;
  padding: 6px !important;
  color: rgb(0, 0, 0) !important;
  font-size: 12px !important;
}

/* loader */
.input-form-1 label {
  background-color: #ffffff;
  color: black;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 150%;
  text-align: center;
}

.input-form-2 label {
  background-color: #ffffff;
  color: black;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 150%;
  text-align: center;
}

.input-form-3 label {
  background-color: #ffffff;
  color: black;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  width: 150%;
}

.upload-cover {
  background-color: #f2f6fc;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: black;
}

.listDetails-body {
  display: inline;
  margin: auto;
}

.upload-list {
  display: grid;
  justify-content: left;
  height: 150px;
  width: 300px;
  overflow-x: hidden;
  margin: auto;
}
.upload-btn {
  background-color: transparent;
  border: none;
  display: flex;
}

/* loader full screen */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: hidden;
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.upload-list-item {
  display: inline-grid;
  height: fit-content;
  border-bottom: #333 solid 1px;
  justify-content: left;
  text-align: left;
}

col {
  width: 50%;
}

.upload-list-item span {
  display: inline-block;
  width: 100%;
  justify-content: center;
  font-size: 16px;
}

summary {
  display: flex;
}

summary::after {
  margin-left: 1ch;
  display: inline-flex;
  transition: 0.2s;
  content: "\002B";
  font-size: 28px;
}

details[open] summary::after {
  transform: rotate(180deg);
  content: "\002D";
}
