.sideBar {
  z-index: 1;
  position: relative;
  /* height: 100%; */
  width: 300px;
  background-color: white;
}

.sideBarList {
  width: 100%;
  padding-left: 0 !important;
  margin-top: 100px;
  height: 100vh;
  margin-left: -20px;
  display: table;
}

.arrow {
  width: 2em;
  height: 2em;
  margin-left: -20px;
}

a:after {
  color: black !important;
  text-decoration: none !important;
}
.body-color {
  color: #b77b50;
  border-bottom: 4px solid #b77b50;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
}
