.timerHead th:nth-child(n + 1) {
  font-size: large;
  /* margin: 0;
  padding: 0 !important; */
}

.timerTable > :not(caption) > * > * {
  padding: 0 0.2rem;
  margin: 0;
}

/* .table > :not(caption) > * > * {
  padding: 0;
} */

@media screen and (max-width: 800px) {
  .timerHead th:nth-child(n + 1) {
    font-size: medium;
    margin: 0;
    padding: 0 !important;
  }

  .timerName td:nth-child(n + 1) {
    padding: 0 !important;
  }

  /* .table > :not(caption) > * > * {
    padding: 0;
  } */
}
