.timerHead th:nth-child(n + 1) {
  font-size: 25px;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
}

/* .timerName td:nth-child(n + 1) {
  font-size: large;
  font-family: "Josefin Slab", serif;
} */

.timerTable > :not(caption) > * > * {
  padding: 0 0.2rem;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .timerHead th:nth-child(n + 1) {
    /* font-size: medium; */
    margin: 0;
    /* padding: 0 !important; */
  }

  .timerHead th:nth-child(n + 1) {
    font-size: 17px;
    font-family: "Josefin Slab", serif;
    font-weight: 600;
  }

  /* .timerName td:nth-child(n + 1) {
    padding: 0 !important;
  } */

  /* .table > :not(caption) > * > * {
    padding: 0;
  } */
}
