.timer {
  background: linear-gradient(180deg, #e0bc8f 0%, #bf9767 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: "Interstate", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
}

.timer {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timer li::before {
  content: "•";
  color: #bf9767;
  /* font-weight: bold; */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
